body {
  background: white;
  font-family: dongle, sans-serif;
}

.wrapper {
  border: black 4px solid;
  padding: 1rem;
}

input {
  background: white;
  border-radius: 1rem;
  border-style: none;
  border: 2px solid black;
  margin-left: 2rem;
  color: black;
}

.search {
  background-image: url('./assets/search-solid.svg') no-repeat 2px;
}

p {
  color: black;
}

li {
  color: black;
}

* {
  font-size: 22px;
}
